.card{
    width: 300px;
    background-color: rgb(235, 198, 142);
    box-shadow: 0 0 10px 2px;
}
body{
    background: linear-gradient(to bottom,rgb(145, 131, 68),rgb(225, 213, 151));

}

.bg-custom{
    background-color: #f3bc07;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 2;
    width: 250px;
    margin: 20px auto;
}

ul li {
    background-color: #f2f27f;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 0 5px 2px;
    transition: 0.3s;
    cursor: pointer;
}

ul li:hover {
    background-color: #c1ad29;
    color: white;
    transform: scale(1.07);
    cursor: pointer;
}

h1{
    font-family: monospace;
    color: #726743;
    box-shadow: 0 2px 5px;
}