input{
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.calc{
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px;
}

h1{
    font-family: monospace;
    font-weight: bold;
    color: aliceblue;
}