body{
    margin: 0;
    background: linear-gradient(to right,rgb(165, 127, 37),rgb(118, 116, 110));
}

img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px;
}

.btn-custom{
    border: none;
    width:80px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 171, 75);
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 5px 5px;
}

.btn-custom:hover{
    background-color: rgb(200, 162, 86);
    border-radius: 20px;
    transition: 0.3s;
}

.btn-custom.active{
    background-color: rgb(187, 133, 53);
    border-radius: 20px;
}