body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(222, 186, 137);
}

.navbar{
    display:flex;
    justify-content: space-between;
    background: linear-gradient(to right,rgb(201, 135, 42),rgb(178, 153, 97));
    position: fixed;
    width:100%;
    z-index: 1000;
    top: 0;
    padding: 0 20px; 
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
}

.tasks{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
    justify-items: center;
}

.templates-gallery{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
    justify-items: center;
}


button{
    background: linear-gradient(to right,rgb(153, 95, 13),rgb(210, 184, 128));
    color: black;
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 20px;
    transition: 0.5s;
}

button:hover{
    background: linear-gradient(to right,rgb(157, 120, 67),rgb(145, 137, 119));
    color: white;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

h1{
    text-align: center;
    margin-top: 120px; 
}
