body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 187, 108);
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height:200px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px;
}

input{
    width: 250px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 2px solid rgb(207, 11, 11);
}

button{
    width: 50px;
    border: none;
    background-color: tomato;
    border-radius: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    width: 50px;
    border: none;
    background-color: rgb(154, 90, 79);
    border-radius: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
}