body{
    margin:10px;
}

.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item{
    background-color: rgb(1, 90, 90);
    color:white;
    text-align: center;
    padding: 20px;
}

.big-item{
    grid-row: span 2;
    grid-column: span 2;
    background-color: rgb(8, 198, 134);
    text-align: center;
    align-content: center;
    color: white;
}