body{
    margin: 0;
    background-color: rgb(101, 104, 103);
}

.main{
    display: flex;
}


.sidebar{
    background-color: rgb(128, 128, 128);
    height: 100vh;
    width: 150px;
    position: fixed;
}


.dash{
    flex: 1;
    margin-left: 150px;
    margin-top: 60px;
    padding: 10px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 150px;
}

.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

.item{
    background-color: rgb(68, 65, 61);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.item-big{
    grid-column: span 3;
    background-color: rgb(48, 48, 49);
    padding: 15px;
    border-radius: 10px;
    color: #bdbebf;
    cursor: pointer;
}

.item-big h3{
    color: #65a1f5;
}

.item h4{
    font-size: 16px;
    color: rgb(108, 170, 228);
    border-bottom: 1px solid rgb(71, 88, 239);

}

.item h3{
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.menu{
    padding: 10px;
}

.logo{
    font-size: 32px;
    font-weight: bold;
    color:rgb(62, 62, 231);
    padding: 10px;
}

.menu-item{
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.menu-itemactive{
    font-size: 18px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    background: #334155;
}

.menu-item:hover { 
    background: #334155; 
    color: white; 
}

.list-item {  
    border-top: 1px solid rgb(71, 88, 239);
    color: #cbd5e1; 
}