.point {
    width: 100%;
    height: 25px;
    border-radius: 5px;
}

.box {
    height: 100px;
    padding: 6px;
    text-align: left;
    font-size: 14px;
}

.event {
    margin-top: 5px;
    padding: 4px ;
    border-radius: 6px;
    font-size: 12px;
}

.bg-9 {
    background-color: #e7eef8;
}

.circle {
    background-color: #0d6efd;
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-fam {
    position: absolute;
    width: 300px;
    margin-top: 5px;
    padding: 4px ;
    border-radius: 6px;
    font-size: 12px;
}