body{
    margin:10px;
}

.container{
    display:grid;
    grid-template-areas: "header header" "sidebar content" "footer footer";
    grid-template-columns: 1fr 3fr;
}

.container div.header{
    grid-area: header;
    padding:20px;
}

.container div.sidebar{
    grid-area: sidebar;
    height:500px;
    background-color: rgb(81, 79, 79);
}

.container div.content{
    grid-area: content;
    background-color: rgb(166, 167, 168);
}

.container div.footer{
    grid-area: footer;
    padding: 20px;

}