body{
    margin :0;
    background-color: brown;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.cards{
    display: flex;
    background-color: brown;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card{
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.special{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: beige;
    padding: 20px;
    width: 200px;
    height: 350px;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid rgb(221, 160, 7);
}

.btn{
    background-color: brown;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    padding: 20px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn:hover{
    border-radius: 20px;
    background-color: rgb(176, 78, 78);
    transition: 0.3s;
}

.spbtn{
    background-color: brown;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    padding: 20px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.spbtn:hover{
    border-radius: 20px;
    background-color: rgb(176, 78, 78);
    transition: 0.3s;
}

.mostpopular{
    position:absolute;
    background-color: rgb(221, 160, 7);
    height: 20px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    top: -15px;
    left: 75px;
}

h2{
    color: rgb(118, 100, 26);
    font-size: 18px;
}

h1{
    color: rgb(78, 58, 32);
}

h3{
    color: rgb(159, 131, 17);
    border-bottom: 1px solid black;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 40px;
    color: aliceblue;
}

.slider input{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    accent-color: gold;
    cursor: pointer;
}

.head{
    font-size: 32px;
    color: rgb(205, 159, 104);
}