body{
    margin:0;
}

.container{
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

.container div.content{
    flex:1;
}

.container div.header{
    background: lightblue;
    padding:20px;
}

.container div.footer{
    background: gray;
    padding:20px;
}