body {
    background: linear-gradient(to right, #096dd8, #6b7584);
    height: 100vh;
}

.card {
    background:linear-gradient(to bottom,rgb(44, 66, 88),rgb(52, 60, 65));
    border-radius: 15px;
    padding: 30px;
    color: white;
    max-width: 400px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #395b7c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 30px;
}

.form-control {
    background: #0d1b2a;
    border: none;
    color: white;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-custom {
    background: #6366f1;
    border: none;
}

.btn-custom:hover {
    background: #686894;
    border: none;
}