body{
    margin: 0;
    background-color: rgb(206, 180, 135);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5,70px);
    height:420px;
    gap:20px;
}

.item-big{
    background-color: rgb(183, 141, 37);
    grid-row: span 4;
    grid-column: span 5;
    cursor: pointer;
    border-radius: 10px;
}

.item{
    background-color: rgb(191, 172, 32);
    cursor: pointer;
    border-radius: 10px;
}

.details{
    width: 500px;
}

.details h2{
    font-size: 14px;
    color: rgb(255, 0, 0);
}

.details h1{
    font-size: 48px;
    color: rgb(5, 104, 150);
}

.details h3{
    font-size: 30px;
    color: rgb(7, 135, 7);
}

.details h4{
    color: rgb(81, 79, 79);
}

.details button{
    background-color: rgb(20, 229, 201);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(94, 165, 165);
    border-radius: 20px;
    transition: 0.5s;
}