body{
    margin:10px;
}

.btn{
    background-color: blue;
    border-radius: 10px;
    border:none;
    width:100px;
    padding:20px;
}

.btn:hover{
    background-color: aqua;
    border-radius: 30px;
    transition-duration: 0.5s;
}

